{% extends 'base.html' %}

{% block title %}Ai Trace{% endblock %}

{% block content %}
    <h2 class="titulo">Obrigado pela parcicipação</h2>
    <br>
    <p>Agradeço sinceramente pela sua participação no questionário. Sua colaboração é muito importante para o desenvolvimento desta pesquisa e contribui diretamente para a compreensão do impacto da inteligência artificial na forma como percebemos imagens atualmente.</p>

    {% if percentual is not None %}
        <div class="progress-circle">
          <svg viewBox="0 0 36 36" class="circular-chart">
            <path class="circle-bg"
              d="M18 2.0845
                 a 15.9155 15.9155 0 0 1 0 31.831
                 a 15.9155 15.9155 0 0 1 0 -31.831" />
            <path class="circle"
              stroke-dasharray="0, 100"
              d="M18 2.0845
                 a 15.9155 15.9155 0 0 1 0 31.831
                 a 15.9155 15.9155 0 0 1 0 -31.831" />
          </svg>
          <div class="legenda" id="legenda">0%</div>
        </div>
        <div style="margin-top: 2em; text-align: center;">
            <h3>Você acertou {{ acertos }} de {{ total }} imagens ({{ percentual }}%)!</h3>
        </div>
        <script>
          function setProgresso(porcentagem) {
            const circle = document.querySelector('.circle');
            const legenda = document.getElementById('legenda');
            circle.setAttribute('stroke-dasharray', porcentagem + ', 100');
            legenda.innerText = porcentagem + '%';
          }
          setProgresso(Number('{{ percentual|default:"0" }}'));
        </script>
    {% endif %}
{% endblock %}

