{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Ai Trace</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo-container">
                <div class="logo-circle">
                    <img src="{% static 'img/logo.svg' %}" alt="Logo do site" class="logo">
                </div>
            </div>
            <div class="nome"><h1>Ai Trace</h1></div>
            <div class="botao-container">
                <button>Iniciar</button>
            </div>
        </div>

    </header>
</body>
</html>
