{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Ai Trace</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="item logo"><img src="{% static 'img/logo.svg' %}" alt="Logo do site" class="logo"></div>
            <div class="item nome">Ai Trace</div>
            <div class="item"><button>Iniciar</button></div>
        </div>
        
    </header>
</body>
</html>
