{% extends 'base.html' %}

{% block title %}Ai Trace{% endblock %}

{% block botao %}
    <button type=" button" class="botao-lateral" onclick="iniciar()">Iniciar</button>
{% endblock %}

{% block content %}
    <h2 class="titulo">Questionário para Pesquisa</h2>
    <br>
    <p>Este questionário faz parte de uma pesquisa para o meu Trabalho de Conclusão de Curso (TCC). O objetivo é analisar se, atualmente (em 2025), as pessoas conseguem identificar com facilidade a diferença entre imagens geradas por inteligência artificial e imagens criadas por seres humanos. A intenção principal é entender se essas diferenças ainda são evidentes ou se já estão se tornando difíceis de perceber.</p>
    <p>Cada pessoa pode votar apenas uma vez, e os votos serão tratados de forma anônima. O e-mail será solicitado apenas para garantir que cada participante responda uma única vez — ele não será usado para identificação ou contato.</p>
    <h3>E-mail</h3>
    <input type="text">
{% endblock %}

{% block scripts %}
<script>
    function iniciar() {
    window.location.href = "{% url 'questionario' %}";
}
</script>
{% endblock %}