{% extends 'base.html' %}
{% load static %}

{% block title %}Questionário - Ai Trace{% endblock %}

{% block botao %}
    
{% endblock %}

{% block content %}

<h2>Você acha que as imagens a seguir foram geradas por IA ou feitas por seres humanos?</h2>

<form id="form-resposta" method="POST">
    {% csrf_token %}

    <!-- Loop de imagens futuramente -->
    <div class="item-voto">
        <img class="imagem-questionario" src="{% static 'img/uploads/imagem_teste.png' %}" alt="Imagem">
        <input type="hidden" name="imagem_id_1" value="1">
        <div class="opcoes-voto">
            <label>
                <input type="radio" name="resposta_1" value="HUMANO" required>
                <span class="botao-resposta humano">Humano</span>
            </label>
            <label>
                <input type="radio" name="resposta_1" value="IA">
                <span class="botao-resposta ia">Inteligência Artificial</span>
            </label>
        </div>
    </div>
    <div class="item-voto">
        <img class="imagem-questionario" src="{% static 'img/uploads/industria_pos_apocaliptica.jpg' %}" alt="Imagem">
        <input type="hidden" name="imagem_id_2" value="2">
        <div class="opcoes-voto">
            <label>
                <input type="radio" name="resposta_2" value="HUMANO" required>
                <span class="botao-resposta humano">Humano</span>
            </label>
            <label>
                <input type="radio" name="resposta_2" value="IA">
                <span class="botao-resposta ia">Inteligência Artificial</span>
            </label>
        </div>
    </div>
    <div class="item-voto">
        <img class="imagem-questionario" src="{% static 'img/uploads/industria_pos_apocaliptica2.png' %}" alt="Imagem">
        <input type="hidden" name="imagem_id_3" value="3">
        <div class="opcoes-voto">
            <label>
                <input type="radio" name="resposta_3" value="HUMANO" required>
                <span class="botao-resposta humano">Humano</span>
            </label>
            <label>
                <input type="radio" name="resposta_3" value="IA">
                <span class="botao-resposta ia">Inteligência Artificial</span>
            </label>
        </div>
    </div>
    <div class="item-voto">
        <img class="imagem-questionario" src="{% static 'img/uploads/selva_fantastica.png' %}" alt="Imagem">
        <input type="hidden" name="imagem_id_4" value="4">
        <div class="opcoes-voto">
            <label>
                <input type="radio" name="resposta_4" value="HUMANO" required>
                <span class="botao-resposta humano">Humano</span>
            </label>
            <label>
                <input type="radio" name="resposta_4" value="IA">
                <span class="botao-resposta ia">Inteligência Artificial</span>
            </label>
        </div>
    </div>
    <div class="botao-wrapper">
        <button type="submit" form="form-resposta" class="botao-submit">Finalizar</button>
    </div>
    
</form>

{% endblock %}


