
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


header {
    width: 100%;
    height: 80px; /* define altura visível para o header */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    background-color: transparent;
    backdrop-filter: blur(6px);
}

/* Proporções */
.logo-container {
    flex: 0 0 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-circle {
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.nome {
    flex: 0 0 60%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}

.botao-container {
    flex: 0 0 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Logo */
.logo {
  width: 35px;
  height: auto;
}
button {
    padding: 8px 16px;
    background-color: #ffffff22;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff44;

}
body {
      margin: 0;
      height: 100vh;
      background: linear-gradient(to right, #083C8F 0%, #0A2F70 10%, #0B275C 20%, #0D2454 30%, #0F234E 40%, #142045 50%, #22203B 60%, #312234 70%, #3E232E 80%, #532628 90%, #7D301F 100%);
      overflow: hidden;
      color: #FFFFFF;
    }

/* div principal */

body .container{

    border-radius: 12px;
    padding: 2%;  /* ajustar valor*/
    background-color: #E0E0E0;
    color: #121212;
    font-family: 'Nunito', sans-serif;
}
